@import "tailwindcss";


@font-face {
  font-family: "Boska";
  font-weight: 400;
  src: url("../public/fonts/Boska_Complete/Fonts/TTF/Boska-Variable.ttf");
}

@font-face {
  font-family: "Boska-Medium";
  font-weight: 500;
  src: url("../public/fonts/Boska_Complete/Fonts/TTF/Boska-Variable.ttf");
}

@font-face {
  font-family: "Boska-Italic";
  font-weight: 400;
  src: url("../public/fonts/Boska_Complete/Fonts/TTF/Boska-Variable.ttf");
}

@font-face {
  font-family: "Boska-Italic-Medium";
  font-weight: 500;
  src: url("../public/fonts/Boska_Complete/Fonts/TTF/Boska-VariableItalic.ttf");
}



@theme {
  --color-primary: #fff9e3;
  --color-secondary: #161203;
  --color-border: rgba(181, 175, 150, 1);
  --color-text: #ffffff;
  --font-boska: "Boska";
  --font-boskaMedium: "Boska-Medium";
  --font-boskaItalic: "Boska-Italic";
  --font-boskaItalicMedium: "Boska-Italic-Medium";
  --breakpoint-custom580: 580px;
}


*::-webkit-scrollbar {
  display: none
}

.glass {
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 12px;
}

@layer utilities {
  .f-c-row {
    @apply flex justify-center items-center;
  }
  .f-c-col {
    @apply flex flex-col justify-center items-center;
  }
}

@layer components {
  .primary-btn {
    @apply rounded-full border border-secondary flex justify-center items-center cursor-pointer;
  }
  .secondary-btn {
    @apply bg-secondary text-text rounded-full border border-secondary flex justify-center items-center cursor-pointer;
  }
}
